.search{
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-podcasts-1566314974.jpg);
    
    background-position:center;  
    background-size: cover;
    text-align: center;
    font-weight: 700;
    min-height: 370px;
    }

    .jumbo-container {
        background-color: rgba(249, 249, 252, 0.829);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        text-align: center;
        position: fixed;
        right:0;
        left:0;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        font-family: fantasy;
    }
    .jumbo-h1{
        font-size: 50px;
    }

    .jumbo-p{
        font-size: 30px;
    }
    
    