.savedPodcast {
    border-radius: 2px;
    justify-content: center;
    /* max-width: 1500px;  */
    margin-bottom: 15px;
}

.savedImg{
    max-width: 100% ;
    height: auto;
    border-radius: 10px;
}

