<<<<<<< HEAD

=======
>>>>>>> 5dad96919ef38daf3d5e034fc2b63165b17ae548
.savedPodcast {
    border-radius: 2px;
    justify-content: center;
    /* max-width: 1500px;  */
}

.savedImg{
    max-width: 100% ;
    height: auto;
}

<<<<<<< HEAD


=======
>>>>>>> 5dad96919ef38daf3d5e034fc2b63165b17ae548
