
.comments {
    background-color: rgb(187, 245, 187);
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    /* width: 350px; */
    background-color: white;
    font-weight: 500;
}

.second {
    width: 80%;
    background-color: white;
    border-radius: 4px;
    
}

.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b
}

.userText {
    font-size: 16px;
    color: #003300;
    font-weight: bold;
}